.utah-design-system {
  /*--primary-color: #056977;
  --primary-color-dark: #044b55;
  --primary-color-light: #0CA4A5;*/

  --primary-color: #0258BB;
  --primary-color-dark: #0E1C3B;
  --primary-color-light: #C1CFE7;

  /*--secondary-color: #774f3a;*/
  --secondary-color: #377E72;
  --secondary-color-dark: #4c3326;
  --secondary-color-light: #97654a;

  --accent-color: #ffb100;
  --accent-color-dark: #745a1e;
  --accent-color-light: #fff9ec;

  --header-primary-color: #0E1C3B;
}


/*anything below here figure out how to sort into different files*/

.home-banner {
  width: 100%;
  background: url('./assets/delicate-arch-tom-gainor-unsplash.webp') no-repeat 100% center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 300px;
  white-space: nowrap;
}

.home-banner-sidebar {
  /*background-color: #1A1A1A;*/
  /*background-color: #292C33;*/
  background: rgba(0, 0, 0, 0.7);
  /*backdrop-filter: blur(30px) brightness(1);*/
  /*-webkit-backdrop-filter: blur(16px) brightness(1.5);*/

  width: 35%;

  /*clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* Keeps text away from the diagonal edge */
  padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-3xl) 15%;

  font-size: var(--font-size-2xl);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;

}

.banner-buttons {
  display: flex;
  gap: 2rem;
}


.section2 {
  width: 100%;
  /*background: url('./assets/mountains.jpg') no-repeat 10% center;*/
  background-color: #1A1A1A;
  /*background: var(--primary-color-light);*/
  /*background-size: cover;*/
  display: flex;
  justify-content: flex-end;
  min-height: 60vh;
  opacity: 85%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;


  clip-path: polygon(
      100px 0,
      100% 0,
      100% calc(100% - 100px),
      calc(100% - 100px) 100%,
      0 100%,
      0 100px
    );
}

.mycard {
  width: 320px;
  height: 380px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  img {
      width: 100%;
      height: 50%;
  }

  /*background: url('./assets/health.jpg') no-repeat center center;*/
  /*background-size: cover;*/
}

/* Individual card backgrounds */
/*.card-one {
  background-image: url('./assets/health.jpg');
}

.card-two {
  background-image: url('./assets/education.jpg');
}

.card-three {
  background-image: url('./assets/transportation.jpg');
}*/


.section3 {
   min-height: 60vh;
}



.contact {
    background: var(--gray-light-color);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-5xl) 0;
    text-align: center;
    .icon-chat-bubbles {
        fill: var(--primary-color);
        width: 80px;
    }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  min-height: 500px;

  box-sizing: border-box;
  /*padding: 3rem;*/
  padding: 3rem 3rem 3rem 10rem;
  /*margin-left: 5rem;*/


  background-image:
      linear-gradient(rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)),
      url('./assets/usulogo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.welcome-text {
  max-width: 60%;
  /*margin-left: 5rem;*/
  /*align-self: flex-start;
  margin-left: 8rem;
  margin-bottom: 7rem;
  margin-top: 1rem;*/
}

/*not being used rn*/
.welcome-cards {
  display: flex;
  gap: 2rem;
}

.team-page-bg {
  min-height: 100vh;

  background-image: url('./assets/usubackground2.jpeg');

  background-size: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.methods {
    flex-direction: column;
    align-items: center;
    /*max-width: 50%;*/
    gap: 1rem;
    min-height: 50vh;

    /*background: var(--gray-light-color);*/
    width: 100%;
    display: flex;
    justify-content: center;
    padding: var(--spacing-5xl) 0;
    text-align: center;


}




 /*MAYBE DONT USE THIS BELOW COPY THE SCSS SECTION AND USE SCSS*/

.home-page__benefits-section {
  background: url('../../../../static/images/laptop-background-blur.webp') no-repeat 100% center;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--spacing-3xl) 0 var(--spacing-5xl);
  padding: 0 var(--spacing-2xl);
  box-sizing: border-box;
}

.home-page__card-grid {
  max-width: var(--content-width-medium);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--spacing-l);
  margin: calc(var(--spacing-2xl) * -1) 0;
}

.home-page__card {
  background: white;
  padding: var(--spacing);
  border-radius: var(--radius-small);
  box-shadow: var(--elevation-medium-borderless);
}

.home-page__card-title {
  display: flex;
  align-items: center;
}

.home-page__card-title .icon-svg {
  margin-right: var(--spacing-s);
  height: var(--font-size-2xl);
  fill: var(--secondary-color);
}

.home-page__card-title .icon-collaboration {
  height: var(--font-size-xl);
}

.home-page__card p {
  margin: 0;
}

.home-page__card-wide {
  grid-column: auto / span 6;
}

.home-page__card-narrow {
  grid-column: auto / span 4;
}

.home-page__action-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing);
}

.home-page__action-cards .action-card {
  grid-column-start: span 2;
}

.home-page__action-cards .action-card--center {
  grid-column-start: 2;
  grid-column-end: 4;
}

.home-page__gray-section {
  background: var(--gray-light-color);
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-page--accordion-small button.accordion__header * {
  font-size: 1.1rem;
}

.home-page__color-card-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: var(--spacing-l);
}

.home-page__color-card {
  background: var(--primary-color);
  color: white;
  padding: var(--spacing);
}

.home-page__color-card p {
  margin: 0;
}

.home-page__color-card--secondary {
  background: var(--secondary-color);
}

.home-page__color-card a[href]:not(.button,.action-card) {
  color: white;
}

.home-page__contact-section {
  padding: var(--spacing-5xl) 0;
  text-align: center;
}

.home-page__contact-section .icon-chat-bubbles {
  fill: var(--primary-color);
  width: 80px;
}
