.utah-design-system {
  /*--primary-color: #056977;
  --primary-color-dark: #044b55;
  --primary-color-light: #0CA4A5;*/

  --primary-color: #0258BB;
  --primary-color-dark: #0E1C3B;
  --primary-color-light: #C1CFE7;

  --secondary-color: #774f3a;
  --secondary-color-dark: #4c3326;
  --secondary-color-light: #97654a;

  --accent-color: #ffb100;
  --accent-color-dark: #745a1e;
  --accent-color-light: #fff9ec;
}


/*anything below here figure out how to sort into different files*/

.home-banner {
  width: 100%;
  background: url('./assets/delicate-arch-tom-gainor-unsplash.webp') no-repeat 100% center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 300px
}

.home-banner-sidebar {
  /*background-color: #1A1A1A;*/
  /*background-color: #292C33;*/
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px) brightness(1);
  -webkit-backdrop-filter: blur(16px) brightness(1.5);

  width: 35%;

  /*clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 23% 100%);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* Keeps text away from the diagonal edge */
  padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-3xl) 15%;

  font-size: var(--font-size-2xl);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;

}

.banner-buttons {
  display: flex;
  gap: 2rem;
}

/*.home-banner-title {
    color: white;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(30px) brightness(1);
    -webkit-backdrop-filter: blur(16px) brightness(1.5);
    font-family: var(--ut-industry-font-family);
    font-size: var(--font-size-6xl);
    font-weight: bold;
    width: 300px;
    border-radius: var(--radius-large);
    margin: var(--spacing-3xl);
    padding: var(--spacing-l);
    line-height: 1.2;
    text-align: left;
}*/

.section2 {
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 50vh;
}
